extends ../template 

include ../modules/mixins

block content
	-	
		var contactsItems = [
			{icon: "skype", title: "Надежда Феоктистова", link:"https://join.skype.com/invite/Bgt2vn6tIqzh"},
			{icon: "telegram", title: "Надежда Феоктистова", link:"https://t.me/FeoktusN"},
			{icon: "envelope", title: "feoktis.n@gmail.com", link:"https://mail.google.com"},
			{icon: "phone", title: "8 910 569 19 16", link:"#"},
			{icon: "map_marker", title: "Рязань", link:"#"}
			];
	-	
		var skillsItems = [
			{group:"Frontend", technology:[
				{picture: "html", desc: "Владение HTML. Семантичная и валидная верстка"},
				{picture: "css", desc: "Владение CSS. Умение использовать возможности CSS3"},
				{picture: "js", desc: "Основы JavaScript, базовые операции с объектами и массивами"},
				{picture: "jquery", desc: "Написания простых виджетов, работа и настройка плагинов"},
				{picture: "bootstrap", desc: "Работа с модулями и сеткой фреймворка bootstrap"},	
				{picture: "flexbox", desc: "Верстка лейаута с применением свойств flexbox"},
				{picture: "adaptiv", desc: "Адаптивная верстка с использованием медиа запросов"},
				{picture: "browser", desc: "Кроссбраузерная верстка под браузеры популярных движков"},
				{picture: "ps", desc: "Знание Photoshop на уровне 'нарезания' макетов"},
				{picture: "bem", desc: "Понимание модульной верстки, именование классов по БЭМ"},
				{picture: "svg", desc: "Навыки работы c векторной графикой в формате SVG"},
				{picture: "retina", desc: "Умение работать с графикой на сайте под retina дисплеи"},
				{picture: "yandex", desc: "Работа с JS API HTML5, работа с картами google/yandex"},
				{picture: "ajax", desc: "Работа с технологией Ajax, асинхронные запросы на сервер"}

			]},
			{group:"Backend", technology:[
				{picture:"node" ,desc: "Работа с Node.js, настройка роутинга сайта"},
				{picture:"mongo" ,desc: "Работа с MongoDB, сохранение данных с помощью Ajax"}
			]},
			{group:"WorkFlow", technology:[
				{picture:"sass" ,desc: "Работа с SASS и инструментами его компиляции"},
				{picture:"pug" ,desc: "Работа с препроцессором и шаблонизатором Pug"},
				{picture:"npm" ,desc: "Работа с консолью на уровне основных команд и npm"},
				{picture:"gulp" ,desc: "Сборка и оптимизация проекта при помощи GULP и его плагинов"},
				{picture:"brsync" ,desc: "Работа с browser-sync, использование преимуществ livereload"},
				{picture:"git" ,desc: "Работа с системами контроля версий (GIT (github))"},
				{picture:"dev" ,desc: " Работа с полезными расширениями Chrome: PerfectPixel, Web Developer  и т.д."},
				{picture:"sublime" ,desc: "Использование редактора с плагинами Sublime text 3"}
			]},
			];
	include ../modules/preloader
	+heroSection("about")
	section.about#about
		+triangle("triangle__gray","triangle__beige")
		.about__left 
			.section__title.about__title
				h1.section__title-text Обо мне
			.about__avatar 
				img.section__img(src="./img/content/user__avatar-big.jpg", alt="Фото пользователя")
			h2.about__subtitle.section__subtitle Кто я
			.about__text.section__text 				
				p Мне 31 год, веб-разработчик из Рязани. Закончила радиотехнический университет, получив специальность инженера. Стала увлекаться вебом и поняла, что верстка и сфера ИТ для меня ближе. Считаю, что нужно заниматься в первую очередь тем, что вызывает интерес и стремление узнать больше - это залог развития и успеха. Верстке стала обучаться сама. После прохождения курсов по web-разработке устроилась frontend разработчиком в студию,работвла по методологии Scrum, занималась версткой лэндингов и созданием SPA в виде панелей администратора для мобильных приложений, а так же внутренних проектов компании. Продолжаю обучаться до сих пор по онлайн  учебникам, курсам онлайн школ, каналам на youtube, посвящённых вебу. 
				p Для того чтобы выполнять намеченные планы использую веб-органайзеры, в которых выделяю отдельные пункты, посвящённые физическим упражнениям и отдыху. Стараюсь быстрее адаптироваться к изменяющимся условиям и подстраиваться под них. Являюсь общительным, позитивно настроенным человеком и ответственно подхожу к выполнению задач, укладываюсь в сроки, чему не мешает разумный перфекционизм.
				p Свободное время люблю проводить с пользой. Нравится посещать интересные выставки, фестивали. Люблю активный отдых, велопоездки, лыжные прогулки, поездки выходного дня. Вдохновляюсь красотой и гармонией природы, произведениями современного искусства.

		.about__right
			h2.about__subtitle.section__subtitle  Чем я могу быть <br>вам полезна
			.about__text.section__text
				p В верстке мне нравится сам процесс и видимый результат своей работы. Люблю пробовать разные подходы к решению задачи и оптимально использовать свои знания. Применяла flexbox в одностраничных лэндингах, пробовала сетку Grid, библиотеку bootstrap, а также обычную блочную модель на float. Сталкивалась и с версткой email рассылок. Очень помогают препроцессоры такие как pug и sass, их функции и переменные. В лэндингах  для интерактивных элементов использую jQuery, могу написать простенький виджет, а для анимации использую wowjs или сss transition и css transform. Использую компонентный подход, придерживаюсь методологии BEM. В react приложениях использовала кастомные компоненты и библиотечные, например из Ant Design. С react вместе предпочитала больше redux и saga, хотя работала и с thunk. Предпочтение отдаю функциональным компонентам с хуками. Для работы с сетью использовала Postman для тестирования и получения модели данных от сервера, работу с GitLab осуществляла при помощи SmartGit, в качестве редактора больше используется VS Code c настроенными плагинами
				p Хочу развиваться в качестве Frontend разработчика, углубится в изучение фреймворков и js, но я также знакома с решением несложных задач на Backend. Но давайте по порядку.
			ul.skills__list
				each skillsItem in allSkills
					li.skills__item 
						h3.skills__title= skillsItem.group
						ul.skills__tech-list
							each technologyItem in skillsItem.technology
								li.skills__tech-item 
									.skills__tech-icon
										img.skills__tech-img(src=`./${technologyItem.picture}`, alt=`Технология`)
									.skills__tech-text= technologyItem.desc
	section.map
		#map(style="width: 100%; height: 100vh;")
		.contacts 
			h2.contact__title.section__subtitle Контакты
			ul.contact__list 
				each contactsItem in contactsItems
					li.contacts__item 
						a.contacts__link(href=`${contactsItem.link}`, target="_blank", rel="noopener")
							svg.contacts__icon(width="24" height="24")
								use(xlink:href=`./img/sprite.svg#${contactsItem.icon}`)
							.contacts__text= contactsItem.title
	include ../modules/footer

	script(src='js/foundation.min.js')
	script(src="https://api-maps.yandex.ru/2.1/?apikey=<ваш API-ключ>&lang=ru_RU" type="text/javascript")
	script(src='js/about.min.js')